header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

header div a {
    margin-left: 20px;
}

main {
    margin: 0 auto;
    width: 80%;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.error {
    color: red;
}

.red {
    background-color: rgb(180, 9, 9);
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.red,
.green,
.orange {
    color: white;
    padding: 8px;
    border-radius: 10px;
    font-weight: 800;
}

.container-form form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.container-form p {
    margin-bottom: 4px;
}

.container-form input {
    height: 30px;
}

.container-form textarea {
    height: 100px;
}

form select {
    height: 40px;
    width: 100%;
}

.container-form input,
textarea,
select,
.submitForm {
    border-radius: 10px;
    border: none;
    background-color: rgb(231, 231, 231);
    width: 100%;
}

.container-form .submitForm {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.container-form .submitForm:hover {
    background-color: rgb(199, 197, 197);
}

/* DETAIL PAGE */
.container-detail {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 15px;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(8, 139, 226);
    color: white;
}

.container-detail h2 {
    margin-bottom: 0px;
}

.container-detail button {
    background-color: rgb(161, 221, 255);
    border: none;
    border-radius: 10px;
    padding: 8px;
}

.container-detail button:hover {
    background-color: rgb(72, 171, 211);
}